body {
  background-color: burlywood;

}

.bennetarolo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.benne {
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
  max-width: 500px;
}

a {
  margin-right: 20pt;
  text-decoration: none;
  color: black;
}

.container {
  display: grid;
  gap: 20pt;
  grid-template-columns: 1fr 1fr;
  /* a dobozok közötti tér */
}

/* Doboz stílus (opcionális) */
.box {
  padding: 10pt;
  border: 1px solid #aaa;
  background: #e6d8bd;
  border-radius: 15px;
}

h1 {
  text-align: center;
}

.container {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .bennetarolo {
    grid-template-columns: 1fr;
  }

  .container {
    grid-template-columns: 1fr;
  }
}