body{
    background-color: burlywood;
}

main {
}

img {
    margin: auto;
    border: 5px solid black;
    box-sizing: border-box ;
}

h1{
  text-align: center;}

nav{
  text-align: center;
  display: grid;
}
a{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 600px){
  .tarolo{
    grid-template-columns: 1fr;
  }
}

a {
  margin-right: 20pt;
  text-decoration: none;
  color: black;
}

.container {
  display: grid;
  gap: 20pt;
  grid-template-columns: 1fr 1fr; /* a dobozok közötti tér */
}

/* Doboz stílus (opcionális) */
.box {
  padding: 10pt;
  border: 1px solid #aaa;
  background: #e6d8bd ;
  border-radius: 15px;
}