body {
  background-color: burlywood;
}

img {
  margin: auto;
  border: 5px solid black;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a {
  margin-right: 20pt;
  text-decoration: none;
  color: black;
}

.container {
  display: grid;
  gap: 20pt;
  grid-template-columns: 1fr 1fr;
}

.box {
  padding: 10pt;
  border: 1px solid #aaa;
  background: #e6d8bd;
  border-radius: 15px;
}

nav {
  text-align: center;
  display: grid;
  display: grid;
  gap: 10pt;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 600px ) {
  .tarolo {
    grid-template-columns: 1fr;
  }
}